@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1; /* Or flex-grow: 1;*/
  }
  .overlay{
    background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/f/f9/Wolf%E2%80%93Lundmark%E2%80%93Melotte_%28transparent_background%29.png/1200px-Wolf%E2%80%93Lundmark%E2%80%93Melotte_%28transparent_background%29.png) repeat;
}

.triangle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.triangle svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 100px;
}

.triangle .shape-fill {
  fill: #FFFFFF;
}